body {
  background-color: #2B78E4;
  margin: 0;
  padding: 0;
}

.login-container {
  background-color: #2B78E4;
  color: white;
  min-height: 100vh;
  padding: 20px;
}

.login-header {
  position: relative;
  display: flex;
  align-items: center;
}

.login-header h1 {
  font-size: 1.5rem; /* Reduce the size of h1 */
  color: white;
}

.login-header .icon {
  margin-right: 10px;
}

.login-header::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.25);
  margin-top: 10px;
  position: absolute;
  bottom: -10px; /* Position the line right under the h1 */
  left: 0;
}

.nv-article {
  color: white;
  margin-top: 50px;
}

.nv-article h2, .nv-article p {
  color: white;
  
}

.login-forms {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.login-forms.login-forms .sign-up-form {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 48%;
  margin-bottom: 50px;
  margin-top: 50px;
}
.sign-in-form{
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-bottom: 10px;
  margin-top: 200px;
}

.login-forms .sign-in-form h3, .login-forms .sign-up-form h3 {
  color: black;
}

.btn {
  width: 48%;
}

.form-check-label {
  color: black;
}

.icon {
  font-size: 2rem; /* Adjust the size as needed */
  color: white;    /* Change the color as needed */
  margin-right: 10px; /* Space between icon and text */
}

.login-forms .btn {
  padding: 5px 10px; /* Reduced padding */
  margin-bottom: 5px; /* Reduced margin */
  width: auto;
  background-color: #9FC5F8; /* Set button background color */
  border: none; /* Remove default border */
  color: black; /* Set button text color */
}
.sign-in-form .btn {
  padding: 5px 10px; /* Reduced padding */
  margin-bottom: 5px; /* Reduced margin */
  width: auto;
  background-color: #9FC5F8; /* Set button background color */
  border: none; /* Remove default border */
  color: black; /* Set button text color */
  
}

.login-forms .btn:hover {
  background-color: #82b0e4; /* Slightly darker shade for hover effect */
}
.icon-container {
  font-size: 4rem; /* Adjust the size as needed */
  display: flex;
  justify-content: center; /* Center the icon */
  margin-bottom: 10px; /* Space between icon and heading */
}
.inscription-heading {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1.5rem; /* Adjust font size as needed */
  color: black;
}

.inscription-heading::before,
.inscription-heading::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #ccc; /* Adjust line color as needed */
  margin: 0 10px; /* Adjust spacing as needed */
}

